body {
  margin: 0;
  padding: 0;
  background: rgb(27, 27, 27);
  color: #fff;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

